<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="k100">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import k100 urdf file -->
    <xacro:include filename="$(find k100_description)/urdf/k100_rohand.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="k100.ros2_control.xacro" />


    <xacro:k100_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
